/* brand-slider section css start */
.brand-section {
    padding: 20px 0;
    background-color: var(--white);
}

.brand-slider-item-img {
    width: 160px;
    height: 40px;
}

.brand-slider-item-img img {
    object-fit: contain;
}

/* brand-slider section css end */

@media only screen and (max-width:767px) {

    /* brand-slider section css start */
    .brand-section {
        padding: 10px 0;
    }

    .brand-slider-item-img {
        width: 80px;
        height: 30px;
    }

    /* brand-slider section css end */
}