/* collection section css start */
.collection-wrapper {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.collection-img {
    width: 62%;
}

.collection-img-items {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    width: 100%;
}

.collection-content {
    width: 33%;
    height: fit-content;
    position: sticky;
    top: 160px;
}

.collection-sub-title {
    margin: 0 0 5px 0;
}

.collection-text {
    margin: 16px 0 0 0;
}

.collection-content-list {
    margin: 16px 0 0 0;
}

.collection-content-list li {
    display: flex;
    gap: 10px;
    margin: 0 0 8px 0;
}

.collection-content-list li:last-child {
    margin: 0;
}

.collection-content-list li i {
    font-size: 16px;
    line-height: 22px;
}

.collection-content-list li p {
    font-weight: 700;
}

.collection-content-btn {
    display: flex;
    margin: 20px 0 0 0;
}

/* collection section css end */

@media only screen and (max-width: 992px) {
    /* collection section css start */
    .collection-wrapper {
        gap: 20px;
    }

    .collection-img {
        width: 58%;
    }

    .collection-img-items {
        row-gap: 50px;
    }

    .collection-content {
        width: 39%;
        top: 120px;
    }
    /* collection section css end */
}

@media only screen and (max-width: 767px) {
    /* collection section css start */
    .collection-wrapper {
        flex-wrap: wrap;
    }

    .collection-img {
        width: 100%;
    }

    .collection-img-items {
        row-gap: 0;
        gap: 20px;
        overflow-x: auto;
        flex-direction: row;
    }

    .collection-img-item {
        min-width: 300px;
    }

    .collection-content {
        width: 100%;
        position: unset;
    }
    /* collection section css end */
}