/* common css start */
/* import fonts-- */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Black.woff') format('woff');
    font-weight: 900;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Lato-Bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.woff') format('woff');
    font-weight: 900;
}

/* colors */
:root {
    /* color */
    --black: #000000;
    --white: #ffffff;
    --heading-text-color: #000000;
    --paragraph-text-color: #000000;
    --brand-color: #031e69;
    --border-color: #d8d8d8;
    --border-color2: #031e69;
    --text-muted: #777777;
    --btn-color: #242833;
    --btn-bg: #031e69;
    --body-color: #eeecea;
    --hover-color: #3a6dfd;

    /* font family */
    --heading-font: "Lato", serif;
    --paragraph-font: "Montserrat", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Montserrat", serif;
    transition: all ease .7s;
    background-color: var(--body-color);
}

body.active {
    overflow: hidden;
    transition: all ease .7s;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: var(--paragraph-font);
    transition: ease .3s;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.2;
    font-family: var(--heading-font);
    color: var(--heading-text-color);
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 38px;
    font-weight: 700;
}

h3 {
    font-size: 28px;
    font-weight: 600;
}

h4 {
    font-size: 24px;
    font-weight: 600;
}

h5 {
    font-size: 20px;
    font-weight: 500;
}

h6 {
    font-size: 18px;
    font-weight: 500;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    margin: 0;
    line-height: 22px;
}

.container {
    max-width: 1360px;
    padding: 0 20px;
    margin: 0 auto;
}

.section {
    padding: 80px 0;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* input css start */
input,
textarea,
select {
    color: var(--paragraph-text-color);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--paragraph-font);
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    appearance: none;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    /* Firefox */
}

input::placeholder,
textarea::placeholder,
select::placeholder {
    color: var(--text-muted);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

/* input css end */

/* button css start */
button {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: none;
    transition: ease .3s;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 24px;
    transition: ease .3s;
    font-family: var(--paragraph-font);
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    z-index: 1;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
}

.btn:hover {
    text-decoration: none;
}

.primary-btn {
    color: var(--white);
    position: relative;
    overflow: hidden;
    background-color: var(--btn-bg);
    border: 1px solid var(--border-color2);
}

.primary-btn span,
.secondary-btn span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.primary-btn span {
    background-color: var(--white);
}

.primary-btn:hover {
    color: var(--btn-color);
}

.primary-btn:hover span,
.secondary-btn:hover span {
    width: 225%;
    height: 562.5px;
}

.primary-btn:active {
    background-color: var(--white);
}

.secondary-btn {
    color: var(--btn-color);
    position: relative;
    overflow: hidden;
    background-color: var(--white);
    border: 1px solid var(--white);
}

.secondary-btn span {
    background-color: var(--btn-bg);
}

.secondary-btn:hover {
    color: var(--white);
    border-color: var(--white);
}

.secondary-btn:active {
    background-color: var(--btn-bg);
}

/* button css end */

/* section heading css start */
.section-heading-wrapper {
    margin-bottom: 50px;
    text-align: center;
}

.section-heading {
    color: var(--heading-text-color);
    text-transform: capitalize;
}

.section-heading-text {
    color: var(--paragraph-text-color);
    padding: 5px 0 0 0;
    max-width: 600px;
    margin: 0 auto;
}

.section-btn {
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
}

/* section heading css end */

/* swiper pagination and button css start */
.swiper-pagination .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 1px solid var(--border-color2);
    position: relative;
    opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background-color: var(--btn-bg);
    transition: ease .5s;
}

.swiper-pagination .swiper-pagination-bullet-active.swiper-pagination-bullet::after {
    transform: translate(-50%, -50%) scale(1);
}

.swiper-button-prev,
.swiper-button-next {
    width: 50px;
    height: 50px;
    border: 1px solid var(--border-color2);
    color: var(--white);
    background-color: var(--btn-bg);
    transition: ease .3s;
    border-radius: 50px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    border: 1px solid var(--border-color2);
    color: var(--btn-color);
    background-color: var(--white);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 20px;
    color: var(--white);
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
    color: var(--btn-color);
}

.swiper-button-next {
    right: -100px;
    opacity: 0;
    visibility: hidden;
}

.swiper-button-prev {
    left: -100px;
    opacity: 1;
    visibility: visible;
}

.swiper:hover .swiper-button-prev {
    left: 20px;
    opacity: 1;
    visibility: visible;
}

.swiper:hover .swiper-button-next {
    right: 20px;
    opacity: 1;
    visibility: visible;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    display: none;
}

/* swiper pagination and button css end */

/* common css end */

/* navbar section css start */
.navbar {
    height: 80px;
    background-color: var(--body-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: ease .3s;
    width: 100%;
    z-index: 999;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1560px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.mobile-menu-btn {
    display: none;
}

.ham-menu {
    height: 25px;
    width: 25px;
    position: relative;
    cursor: pointer;
}

.ham-menu span {
    height: 2px;
    width: 100%;
    background-color: var(--hover-color);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.navbar-logo {
    max-width: 137px;
    display: block;
}

.mobile-menu-close-window-btn {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    user-select: none;
    cursor: pointer;
    display: none;
}

.mobile-side-bar-top {
    display: none;
}

.nav-links ul {
    display: flex;
    gap: 30px;
}

.nav-links ul li a,
.nav-links ul li span {
    color: var(--paragraph-text-color);
    font-size: 16px;
    font-weight: 600;
    font-family: var(--heading-font);
    text-transform: capitalize;
    cursor: pointer;
    text-decoration: none;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    display: block;
    -o-transition: all ease .3s;
}

.nav-links ul li a:hover,
.nav-links ul li span:hover {
    color: var(--hover-color);
}

.nav-links ul li span i {
    transition: ease .3s;
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -ms-transition: ease .3s;
    -o-transition: ease .3s;
}

.nav-links ul li:hover span i {
    transform: rotate(-180deg);
}

.nav-links ul li {
    position: relative;
}

.nav-links ul li::after {
    content: "";
    position: absolute;
    right: 0px;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--hover-color);
    z-index: 1;
    transition: ease .2s;
    -webkit-transition: ease .2s;
    -moz-transition: ease .2s;
    -ms-transition: ease .2s;
    -o-transition: ease .2s;
}

.nav-links ul li:hover::after {
    left: 0px;
    width: 100%;
}


.nav-icons ul {
    display: flex;
    gap: 10px;
}

.nav-icons ul li a,
.nav-icons ul li span {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: ease .3s;
    cursor: pointer;
}

.nav-icons ul li a i,
.nav-icons ul li span i {
    color: var(--paragraph-text-color);
    transition: ease .3s;
    font-size: 18px;
}

.nav-icons.mabile-nav-icons ul li a i,
.nav-icons.mabile-nav-icons ul li span i {
    color: var(--white);
}

.nav-icons ul li a:hover,
.nav-icons ul li span:hover {
    background-color: var(--brand-color);
}

.nav-icons ul li a:hover i,
.nav-icons ul li span:hover i {
    color: var(--white);
}

.nav-icons.mabile-nav-icons {
    display: none;
}

/* navbar section css end */

/* footer-section css start */
.footer-section {
    padding: 80px 0 0 0;
    background-color: var(--body-color);
    border-top: 2px solid var(--border-color);
}

.footer-items {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 0 0 20px 0;
}

.footer-item {
    width: fit-content;
    max-width: 300px;
}

.footer-logo {
    max-width: 170px;
}

.footer-text {
    margin: 16px 0 0 0;
    font-size: 14px;
    line-height: 21px;
}

.footer-item-title {
    margin: 0 0 16px 0;
    text-transform: capitalize;
}

.footer-list li {
    margin: 0 0 10px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-list li:last-child {
    margin: 0;
}

.footer-list li a {
    color: var(--paragraph-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: capitalize;
}

.footer-list li :hover {
    text-decoration: underline;
}

.footer-list li i {
    font-size: 12px;
}

a.footer-mail {
    text-transform: lowercase !important;
}

.nav-icons.footer-icons ul {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.nav-icons.footer-icons ul li a i,
.nav-icons.footer-icons ul li span i {
    font-size: 16px;
}

.nav-icons.footer-icons .footer-item-title {
    margin: 0 0 10px 0;
}

.copyright-area {
    padding: 30px 0;
}

.copyright-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.copyright-text,
.copyright-text a {
    color: var(--paragraph-text-color);
    font-size: 14px;
}

.copyright-text a:hover {
    text-decoration: underline;
}

/* footer-section css end */

@media only screen and (max-width: 992px) {

    /* common css start */
    .section-btn {
        margin: 35px 0 0 0;
    }

    .section {
        padding: 60px 0;
    }

    .section-heading-wrapper {
        margin-bottom: 35px;
    }

    /* common css end */

    /* navbar css start */
    .nav-link-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.3);
        height: 100vh;
        z-index: 9999;
        transition: 300ms;
        opacity: 0;
        visibility: hidden;
    }

    .nav-link-wrapper.active {
        opacity: 1;
        visibility: visible;
    }

    .nav-link-wrapper-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 340px;
        background-color: var(--body-color);
        height: 100vh;
        z-index: 2;
        transition: 300ms;
        transform: translateX(-100%);
    }

    .nav-link-wrapper-inner.active {
        transform: translateX(0);
    }

    .nav-links {
        overflow-y: auto;
        height: calc(100% - 121px);
    }

    .mobile-menu-close-window-btn {
        display: block;
    }

    .mobile-side-bar-top {
        display: flex;
        height: 70px;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        border-bottom: 1px solid var(--border-color);
    }

    .mobile-menu-btn {
        display: block;
        width: 137px;
    }

    .nav-links ul {
        display: flex;
        gap: 0;
        flex-direction: column;
        padding: 20px;
    }

    .nav-links ul li {
        border-bottom: 1px solid var(--border-color);
    }

    .sub-menu ul li a,
    .nav-links ul li a,
    .nav-links ul li span {
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links ul li span .icon {
        padding: 0;
        border: none;
    }

    .nav-links ul li::after {
        display: none;
    }

    .nav-links ul li span:hover i {
        transform: unset;
    }

    .nav-links ul li .dropdown-btn.active .icon i {
        transform: rotate(-180deg);
    }

    .nav-icons.desktop-nav-icons {
        min-width: 137px;
    }

    .nav-icons.desktop-nav-icons ul {
        justify-content: flex-end;
    }

    .nav-icons.mabile-nav-icons {
        display: flex;
        justify-content: center;
        padding: 20px 0;
        border-top: 1px solid var(--white);
        background-color: var(--brand-color);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 1;
    }

    /* navbar css end */

    /* footer-section css start */
    .footer-items {
        gap: 16px;
        flex-wrap: wrap;
    }

    .footer-item {
        max-width: 100%;
    }

    .footer-item:first-child {
        width: 70%;
        margin: 0 0 5px;
    }

    .footer-item:nth-child(2) {
        width: 30%;
    }

    .footer-item:nth-child(3) {
        width: 30%;
    }

    .footer-item:last-child {
        width: 35%;
    }

    /* footer-section css end */

}

@media only screen and (max-width:767px) {

    /* common css start */
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 20px;
    }
    
    h5 {
        font-size: 18px;
    }
    
    h6 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }

    .section {
        padding: 50px 0;
    }

    .section-btn {
        margin: 25px 0 0 0;
    }

    .section-heading-wrapper {
        margin-bottom: 25px;
    }

    /* common css end */

    /* navbar section css start */
    .navbar {
        height: 60px;
    }

    .mobile-side-bar-top {
        height: 60px;
    }

    .mobile-menu-btn {
        width: 110px;
    }

    .nav-icons.desktop-nav-icons {
        min-width: 110px;
    }

    .nav-icons ul {
        gap: 10px;
        justify-content: flex-end;
    }

    .nav-icons ul {
        gap: 10px;
    }

    .nav-icons ul li a,
    .nav-icons ul li span {
        width: 30px;
        height: 30px;
    }

    .nav-icons.desktop-nav-icons ul li:nth-child(2) {
        display: none;
    }

    .search-bar {
        height: 95px;
    }

    .search-bar-inner {
        padding: 0 50px 0 20px;
        justify-content: center;
    }

    .search-input-field {
        height: 40px;
    }

    .search-input-field input {
        padding: 0 10px;
    }

    .search-icon {
        width: 50px;
        height: 40px;
    }

    .search-bar-window-close-btn {
        top: 95px;
    }

    .search-close-btn {
        right: 20px;
    }

    /* navbar section css end */

    /* footer section css start */
    .footer-section {
        padding: 20px 0 0 0;
    }

    .footer-item:first-child {
        width: 100%;
    }

    .footer-item:nth-child(2) {
        width: 18%;
    }

    .footer-item:nth-child(3) {
        width: 27%;
    }

    .footer-item:last-child {
        width: 36%;
    }

    .footer-item-title {
        margin: 0 0 10px 0;
    }

    .footer-text {
        margin: 10px 0 0 0;
    }

    .footer-list li {
        margin: 0 0 6px 0;
    }

    .copyright-img {
        height: 19px;
        gap: 5px;
    }

    /* footer section css end */
}

@media only screen and (max-width: 575px) {

    /* common css start */
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 22px;
    }

    .section {
        padding: 30px 0;
    }

    .btn {
        padding: 12px 24px;
        font-size: 14px;
    }

    .section-heading-wrapper {
        margin-bottom: 20px;
    }

    /* pagination css start */
    .swiper-pagination .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }

    .swiper-pagination .swiper-pagination-bullet::after {
        width: 6px;
        height: 6px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 35px;
        height: 35px;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 12px;
    }

    /* pagination css end */

    /* side-cart css start */
    .cart-sidebar-box {
        width: 375px;
    }

    .side-cart-empty-text {
        padding: 60px 15px 50px 15px;
    }

    .side-cart-icon-item-wrapper {
        padding: 50px 15px 30px 15px;
    }

    .swiper.side-cart-slider {
        margin: 0 0 0 15px;
    }

    .side-cart-slider-title {
        font-size: 20px;
    }

    .side-cart-product-item-wrapper .cart-product-table tbody tr td:nth-child(2) {
        display: table-cell;
    }

    .side-cart-product-item-wrapper .cart-product-img {
        height: 110px;
    }

    .side-cart-product-item-wrapper .cart-product-img {
        width: 42%;
    }

    .side-cart-product-item-wrapper .cart-product-content {
        width: 57%;
    }

    .side-cart-product-item-wrapper {
        padding: 15px;
    }

    .side-cart-product-item-wrapper .cart-product-table tbody tr td:first-child {
        width: 78%;
    }

    .side-cart-progress-bar-area {
        padding: 15px;
    }

    .side-cart-product-content-footer {
        padding: 15px;
    }

    .side-cart-checkout-btn {
        margin: 15px 0 0 0;
    }

    .side-cart-checkout-text {
        margin: 15px 0 0 0;
    }

    /* side-cart css end */

    /* common css end */

    /* footer section css start */
    .footer-item:nth-child(2) {
        width: 47%;
    }

    .footer-item:nth-child(3) {
        width: 48%;
    }

    .footer-item:last-child {
        width: 100%;
    }

    .copyright-content {
        justify-content: center;
        gap: 8px;
        flex-direction: column;
    }

    .copyright-img {
        height: 22px;
    }

    /* footer section css end */
}