/* product section css start */
.product-section {
    margin: 80px 0 0 0;
}

.product-wrapper {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.product-img {
    width: 62%;
}

.product-img-items {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    width: 100%;
}

.product-content {
    width: 33%;
    height: fit-content;
    position: sticky;
    top: 160px;
}

.product-sub-title {
    margin: 0 0 5px 0;
}

.product-price{
    margin: 16px 0 0 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.latest-price,
.previous-price{
    font-size: 18px;
}

.previous-price{
    color: var(--text-muted);
    text-decoration: line-through;
}

.product-text {
    margin: 16px 0 0 0;
}

.product-content-list {
    margin: 16px 0 0 0;
}

.product-content-list li {
    display: flex;
    gap: 10px;
    margin: 0 0 8px 0;
}

.product-content-list li:last-child {
    margin: 0;
}

.product-content-list li i {
    font-size: 16px;
    line-height: 22px;
}

.product-content-list li p {
    font-weight: 700;
}

.product-content-btn {
    display: flex;
    margin: 20px 0 0 0;
}

/* product section css end */

@media only screen and (max-width: 992px) {

    /* product section css start */
    .product-wrapper {
        gap: 20px;
    }

    .product-img {
        width: 58%;
    }

    .product-img-items {
        row-gap: 50px;
    }

    .product-content {
        width: 39%;
        top: 120px;
    }

    /* product section css end */
}

@media only screen and (max-width: 767px) {

    /* product section css start */
    .product-wrapper {
        flex-wrap: wrap;
    }

    .product-img {
        width: 100%;
    }

    .product-img-items {
        row-gap: 0;
        gap: 20px;
        overflow-x: auto;
        flex-direction: row;
    }

    .product-img-item {
        min-width: 300px;
    }

    .product-content {
        width: 100%;
        position: unset;
    }

    /* product section css end */
}